@import "tailwindcss";

@theme {
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-arial: "Arial", sans-serif;
  /* colors */
  --color-grey: #64748b;
  --color-grass-green: #00b894;
}

.container {
  @apply mx-auto px-4 max-w-308 w-full;
}
.underline-animate {
  position: relative;
}

.underline-animate::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--color-grass-green);
  transition:
    width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.underline-animate:hover::after {
  width: 100%;
  left: 0;
}
