@import "tailwindcss";

@theme {
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-arial: "Arial", sans-serif;
  /* colors */
  --color-grey: #64748b;
  --color-grass-green: #00b894;
}

.container {
  @apply mx-auto px-4 max-w-308 w-full;
}
